# Environment files
.env.example
.venv/
venv/
__pycache__/

# Version control
.git/
.gitignore
.github/

# Docker-related files
docker/
.dockerignore

# Testing and cache
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Development tools
.pre-commit-config.yaml
.editorconfig
.devcontainer/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Build artifacts
*.egg-info/
.installed.cfg
*.egg
build/
dist/

# Project specific
**/prometheus.yaml

# Documentation
docs/
